[bumpversion]
commit = True
tag = True
current_version = 2.10.11
parse = (?P<major>\d+)\.(?P<minor>\d+)\.(?P<patch>\d+)(\.(?P<release>[a-z]+))?
serialize = 
	{major}.{minor}.{patch}.{release}
	{major}.{minor}.{patch}

[bumpversion:file:lib/kameleon/version.rb]

[bumpversion:part:release]
optional_value = gamma
values = 
	dev
	gamma
