Source: kameleon
Section: admin
Priority: extra
Maintainer: Bruno Bzeznik <Bruno.Bzeznik@imag.fr>
Uploaders: Philippe Le Brouster <philippe.le-brouster@imag.fr>
Build-Depends: debhelper (>= 7.0.50)
Standards-Version: 3.8.4
Vcs-Git: git://scm.gforge.inria.fr/kameleon/kameleon.git
Vcs-Browser: https://gforge.inria.fr/plugins/scmgit/cgi-bin/gitweb.cgi?p=kameleon/kameleon.git;a=summary
Homepage: http://wiki-oar.imag.fr/Kameleon

Package: kameleon
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends}, ruby
Description: Simple appliances image builder
 Kameleon is a very simple tool to create initial virtual machines images or 
 live-cd. It works as a bash script generator using recipes written in YAML.
