Source: kameleon
Section: admin
Priority: extra
Maintainer: Philippe Le Brouster <plb@nebkha.net>
Build-Depends: debhelper (>= 7.0.50), rdtool
Standards-Version: 3.9.1
Vcs-Git: git://scm.gforge.inria.fr/kameleon/kameleon.git
Vcs-Browser: https://gforge.inria.fr/plugins/scmgit/cgi-bin/gitweb.cgi?p=kameleon/kameleon.git;a=summary
Homepage: http://wiki-oar.imag.fr/Kameleon

Package: kameleon
Architecture: all
Depends: ${misc:Depends}, ruby, rubygems, kameleon-data
Recommends: debootstrap, rsync, parted, kpartx, dmsetup, qemu-utils, grub-pc
Description: Simple appliances image builder
 Kameleon is a very simple tool to create initial virtual machines images or 
 live-cd. It works as a bash script generator using recipes written in YAML.

Package: kameleon-data
Architecture: any
Depends: ${misc:Depends}
Description: Simple appliances image builder (data)
 Kameleon is a very simple tool to create initial virtual machines images or 
 live-cd. It works as a bash script generator using recipes written in YAML.
 .
 These are the common recipes/steps files for kameeleon
