#!/usr/bin/make -f

# use debhelper 7
%:
	dh $@

override_dh_auto_install:
	dh_auto_install -- PREFIX=/usr DESTDIR=debian/tmp
	
	# kameleon
	mkdir -p debian/kameleon
	make PREFIX=/usr DESTDIR=debian/kameleon install-engine install-doc install-man
	
	# kameleon-data
	mkdir -p debian/kameleon-data
	make PREFIX=/usr DESTDIR=debian/kameleon install-data
	
	dh_install -i

override_dh_installdocs:
	dh_installdocs -XCOPYING
