#!/usr/bin/make -f

# use debhelper 7
%:
	dh $@

override_dh_auto_install:
	dh_auto_install -- PREFIX=/usr DESTDIR=debian/tmp
	
	dh_install -i -XCOPYING

override_dh_installdocs:
	dh_installdocs -XCOPYING
